---
layout: default
title: Android
---
<div class="post">
  <div class="top">
    <h2>My Androids</h2>
  </div>
  <div class="content">
    <h3>
      <a href="http://github.com/jackrex">Android 4 Me</a>
      <span>我的Android简单开源项目</span>
    </h3>
    <p>从<a href="http://github.com/jackrex">Jackrex</a>处fork过来，这里是what？？？？？？？。</p>
  
    <h3>
      <a href="http://github.com/jackre/jackrex.github.com">jackrex.github.com</a>
      <span>本博客源代码</span>
    </h3>
  </div>
  <div class="bottom"></div>
</div>



<div class="post">
  <div class="content">

     <h3>
      <a href="http://github.com/jackrex">项目之一 -----MiniMsg</a>
      <span>绚丽的UI+实用的功能=完美的体验</span>
    </h3>
 

  </div>
</div>



{% include footer.html %}
{% include footer.html %}
