---
layout: default
title: Wp/Win8
---
<div class="post projects">
  <div class="top">
    <h2>Wp7/Wp8</h2>
  </div>

 <div class="content">
    <ol id="archive">

	<h3> 项目作品展示：</h3>
	<h4> 完成Android到wp8的应用移植，换取Winphone手机</h4>
	<p> 敬请期待.....</p>

    </ol>
  </div>
  <div class="bottom"></div>	
  </div>
    



<div class="post index archive">
  <div class="top">
    <h2>Win8</h2>
  </div>

  <div class="content">
    <ol id="archive">

	<p> 我的2012年第一个win8小应用  西电盒子  嘎嘎</p>
		<br />
	<p> 开发者帐号正在审核 链接 敬请期待.....</p>
      {% for post in site.wpdev offset:2 %}
      <li>
        <time datetime="{{ post.date | xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
        <p><a href="{{ post.url }}">{{ post.title }}</a></p>
      </li>
      {% endfor %}
    </ol>
  </div>
  <div class="bottom"></div>
</div>

{% include footer.html %}
